<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.yuchao.kurisubot.mapper.process.ProcessEcStudyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.yuchao.kurisubot.entity.process.ProcessEcStudy">
        <id column="id" property="id" />
        <result column="word" property="word" />
        <result column="user_id" property="userId" />
        <result column="search_num" property="searchNum" />
        <result column="study_num" property="studyNum" />
        <result column="err_num" property="errNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, word, user_id, search_num, study_num, err_num
    </sql>

</mapper>
